body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.background_img {
  background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*tekst styling*/
p {
  font-family: "noto-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
h1,
h2 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
}

a {
  color: black;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@media screen and (min-width: 600px) {
  .kimhyeree {
    position: fixed;
    font-size: 55px;
    z-index: 10;
    margin-top: 840px;
  }
  /*Header layout*/
  nav {
    list-style: none;
    align-items: center;
    background-color: azure;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    z-index: 100;
    width: 300%;
  }
  header nav {
    background-color: rgb(255, 255, 255);
  }

  li {
    margin: 0;
    margin-left: 4px;
    margin-right: 4px;
  }

  li a {
    text-decoration: none;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  #ommig_side {
    margin-left: -3%;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  /*fjern burgermenu icon*/

  .menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }

  /* Burger menu */
  @media screen and (min-width: 600px) {
    input[type="checkbox"] {
      display: none;
    }

    #hjemknap {
      display: none;
    }
  }

  /*Undersider til udforsk*/

  li:hover .temasider {
    display: block;
  }

  .temasider {
    display: none;
    margin: 0;
    padding: 0;
  }

  .temasider li {
    display: block;
  }
}

@media screen and (max-width: 599px) {
  .kimhyeree {
    margin-top: 162%;
    font-size: 40px;
    position: fixed;
  }

  /*Nav forsvind, burgermenu*/
  ul {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    margin-top: -4%;
    padding-left: 4%;
    z-index: 100;
  }
  a {
    color: #fff;
    text-decoration: none;
  }

  .menu-icon {
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    padding-top: 2%;
  }

  ul.show {
    display: flex;
  }

  ul li {
    margin: 0;
    text-align: left;
    padding-bottom: 2px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .menu-icon + ul {
    display: flex;
  }
}
