body {
  background-image: url(../img/baggrund.webp);
  background-repeat: no-repeat;
  background-color: black;
}

h1 {
  color: azure;
}

a {
  color: azure;
}

p {
  font-family: "noto-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: azure;
  font-size: 14px;
  text-align: justify;
}

h2 {
  color: azure;
}

.grid_1_4 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 80%;
  margin-left: 1%;
}

video {
  margin-top: 1%;
  margin-left: 40%;
}

#img_container {
  margin-left: 40%;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url(../img/layout_computer_1.webp);
  width: 60%;
  height: 60vh;
  transition: 4s;
  background-size: cover;
  background-position: center;
  animation-name: animate;
  animation-play-state: running;
  animation-duration: 25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

#mobilsite {
  width: 50%;
  grid-column: span 2;
}

#studiestartsprøven {
  margin-top: 150%;
}
@keyframes animate {
  0% {
    background-image: url(../img/layout_comutere_2.webp);
  }
  40% {
    background-image: url(../img/layout_computere_3.webp);
  }
  60% {
    background-image: url(../img/layout_computere_4.webp);
  }
  80% {
    background-image: url(../img/layout_computere5.webp);
  }

  100% {
    background-image: url(../img/layout_computer_1.webp);
  }
}
