body {
  background-color: black;
  margin: 0;
  padding: 0;
}

h2,
h1 {
  color: azure;
}
p {
  color: aliceblue;
}

#moodboard {
  z-index: 10;
  margin-bottom: -14%;
  margin-top: -15.5%;
}
@media screen and (min-width: 700px) {
  .grid_1_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 5%;
    padding-top: 10%;
    overflow: hidden;
  }

  .videolink {
    position: absolute;
    background-color: #ffff;
    padding-left: 0.5%;
    padding-right: 4.84%;
    text-decoration: none;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0.2rem;
    transform: rotate(-90deg);
    margin-top: 21.7%;
    margin-left: 41.1%;
  }

  .hjemmesidelink {
    position: absolute;
    background-color: #ffff;
    padding-left: 0.5%;
    padding-right: 4.84%;
    text-decoration: none;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0.2rem;
    transform: rotate(-90deg);
    margin-top: 21.7%;
    margin-left: 41.1%;
  }

  .hjemmesidelink:hover {
    color: #0000ff;
  }

  .videolink:hover {
    color: #67db47;
  }

  .overskrifter {
    padding: 0;
    grid-column: 1;
    margin-left: 8px;
  }

  video {
    width: 100%;
    margin-top: 8px;
  }

  .kolonne_container {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    margin-top: 7px;
  }
  img {
    max-width: 100%;
  }
  /*billede karussel/slideshow*/

  .slideshow_container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .slider {
    display: flex;
    overflow-x: auto;
    aspect-ratio: 16/9;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
  }

  .slideshow_nav {
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 3%;
    justify-content: center;
    align-items: center;
  }

  .slideshow_nav a {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #bbbcb8;
  }
}

@media screen and (max-width: 650px) {
  .grid_1_1_1_1 {
    padding: 60px;
  }

  .hjemmesidelink {
    display: none;
  }

  p {
    font-size: 12px;
    color: azure;
  }

  h2 {
    font-size: 20px;
  }

  img {
    max-width: 100%;
  }

  video {
    width: 100%;
  }
  .menu-icon {
    color: #ffff;
  }

  a {
    color: #ffff;
  }
}
