body {
  color: azure;
  background-image: url(../img/baggrund_hvid.webp);
  background-repeat: no-repeat;
}

h1 {
  color: black;
}
h2 {
  color: black;
}

a {
  color: black;
}

h2 {
  display: none;
}

.overskrifter {
  position: fixed;
  margin-top: 20%;
}

.img_kolonne {
  margin-top: 140%;
  margin-left: 90%;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}
