body {
  margin: 0;
  padding: 0;
}

h2,
a,
h1 {
  color: black;
}

@media screen and (min-width: 599px) {
  .background_img {
    background-image: url(../img/baggrund_hvid.webp);
    background-repeat: no-repeat;
  }
  .mobil_overskrift {
    display: none;
  }
  h2 {
    margin: 0;
    padding: 0;
    display: none;
    font-size: 40px;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 10%;
  }
  .img_kolonne {
    margin-left: 21%;
    grid-column: 2;
  }
  img {
    max-width: 100%;
  }

  .overskrifter {
    margin: 0;
    position: fixed;
    top: 50%;
    grid-column: 1;
  }

  #moodboard {
    z-index: 100;
    margin-bottom: -14%;
    margin-top: -15.5%;
    grid-column: 2;
  }
}

@media screen and (max-width: 599px) {
  .menu-icon {
    color: black;
  }

  .background_img {
    display: none;
  }
  .grid_1_1 {
    padding: 60px;
  }
  img {
    width: 100%;
  }

  .overskrifter {
    display: none;
  }
}
