* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 62.5;
  color: var(--primary-color);
}

:root {
  --font-family-primary: "Poppins", serif;
  --primary-color: #000;
  --secondary-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-primary);
  color: var(--secondary-color);
  font-weight: 800;
}

img {
  width: 100%;
}

li a {
  text-decoration: none;
  font-family: var(--font-family-primary);
  text-transform: uppercase;
}

.section {
  height: 100vh;
  background-size: cover;
}

.whitespace-nowrap {
  display: flex;
  width: 200%;
}

.iphone {
  position: relative;
  width: 310px;
  height: 640px;
  background: url("/img/iphone.png") no-repeat center/cover;
  overflow: hidden;
}

.screen {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  overflow: hidden;
  background: url("/img/floral.png") no-repeat cover;
}

body {
  background-color: #000;
}
