<section
  id="clf"
  class="grid grid-cols-1 lg:grid-cols-3 lg:auto-rows-1fr gap-x-2 gap-y-2"
>
  <div class="lg:col-start-1 lg:row-start-1 flex items-center">
    <h2 class="text-3xl font-black text-secondary">
      Copenhagen Light Festival
    </h2>
  </div>

  <img
    class="lg:col-start-3 animate-on-scroll lg:row-start-1"
    src="/img/clf1.avif"
    alt="Copenhagen Light Festival on computer"
  />

  <img
    class="lg:col-start-2 animate-on-scroll lg:row-start-3"
    src="/img/clf2.avif"
    alt="Copenhagen Light Festival on computer"
  />

  <img
    class="lg:col-start-1 lg:row-start-6 animate-on-scroll"
    src="/img/clf3.avif"
    alt="Copenhagen Light Festival on computer"
  />
  <div
    class="relative lg:col-start-2 lg:col-span-2 w-full mx-auto lg:row-span-2 lg:row-start-4 flex justify-center"
  >
    <img class="macbook" src="/img/clf4.avif" alt="MacBook Mockup" />

    <div class="absolute macbook-screen">
      <div class="scrolling-content">
        <img
          class="w-full h-auto object-cover"
          src="/img/clfprototype.avif"
          alt="Scrolling Screenshot"
        />
        <img
          class="w-full h-auto object-cover"
          src="/img/clfprototype.avif"
          alt="Scrolling Screenshot"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .macbook {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    max-width: 1200px;
  }

  .macbook-screen {
    position: absolute;
    top: 12.5%;
    left: 22%;
    width: 56%;
    border-radius: 8px;
    height: auto;
    aspect-ratio: 780 / 488;
    overflow: hidden;
  }

  .scrolling-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: scroll-animation 5s linear infinite;
  }

  @keyframes scroll-animation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
</style>
