<section class="h-screen grid lg:grid-cols-3 lg:grid-rows-1">
  <ul class="text-secondary font-secondary lg:col-start-2 place-content-center">
    <li>Sofie Kjær - Madsen</li>
    <li>
      <a class="font-secondary" href="tel:+4529892067">+45 29 89 20 67</a>
    </li>
    <li>sokj0001@stud.kea.dk</li>
    <li>Nørrebro, Copenhagen</li>
  </ul>
</section>
