---

---

<section
  class="lg:min-h-screen grid-cols-1 grid lg:grid-cols-3 px-2 font-secondary"
>
  <div class="lg:col-start-2 flex flex-col gap-9 place-content-center">
    <div>
      <h4 class="font-black text-3xl">Skills</h4>
      <p class="max-w-4xl text-base text-balance">
        During my education, I have gained proficiency in various digital tools
        and programs. Within graphic design, social content, and web design, I
        have worked with software such as Adobe animate-on-scrollshop,
        Illustrator, and InDesign to create visual and creative solutions. I
        have also developed skills in social content creation, where I have
        produced material for digital communication. Additionally, I have
        experience in web development and design, including HTML, CSS, and
        JavaScript, as well as working with frameworks and tools like Astro,
        Next.js, and Tailwind CSS.
      </p>
    </div>
    <ul class="text-secondary text-left">
      <li>Html, CSS & JavaScript</li>
      <li>Next.js</li>
      <li>Astro</li>
      <li>Tailwind CSS</li>
      <li>Github</li>
      <li></li>
    </ul>
    <ul class="text-secondary lg:row-start-3 lg:col-start-3">
      <li>Adobe Illustrator</li>
      <li>Figma</li>
      <li>Adobe Premiere Pro</li>
      <li>Adobe InDesign</li>
      <li>Adobe animate-on-scrollshop</li>
    </ul>
  </div>
</section>
