---
import Hero from "../components/Hero.astro";
import Motivation from "../components/Motivation.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Clf from "../components/Clf.astro";
import Girltalk from "../components/Girltalk.astro";
import PersonalProjects from "../components/PersonalProjects.astro";
import Photos from "../components/Photos.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/mainlayout.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Hero />
    <Motivation />
    <Skills />
    <Projects />
    <Clf />
    <Girltalk />
    <PersonalProjects />
    <Photos />
  </body>
</html>
