---
import FirstSection from "../components/FirstSection.astro";
import SecondSection from "../components/SecondSection.astro";
import ThirdSection from "../components/ThirdSection.astro";
import ForthSection from "../components/ForthSection.astro";
import FifthSection from "../components/FifthSection.astro";
import SixthSection from "../components/SixthSection.astro";
import SeventhSection from "../components/SeventhSection.astro";
import EighthSection from "../components/EighthSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/mainlayout.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <FirstSection />
    <SecondSection />
    <ThirdSection />
    <ForthSection />
    <FifthSection />
    <SixthSection />
    <SeventhSection />
    <EighthSection />
  </body>
</html>
