---
import Home from "../components/sections/Home.astro";
import Skills from "../components/sections/Skills.astro";
import Contact from "../components/sections/Contact.astro";
import Layout from "../layouts/Layout.astro";
import Girltalk from "../components/sections/Girltalk.astro";
import Clf from "../components/sections/Clf.astro";
import PersonalProjects from "../components/sections/PersonalProjects.astro";
import Navigation from "../components/elements/Navigation.astro";
---

<Layout>
  <header>
    <Navigation />
  </header>
  <Home id="home" />
  <Skills id="skills" />
  <section
    id="schoolprojects"
    class="min-h-screen grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-1 items-center"
  >
    <div class="lg:col-start-2">
      <h2 class="text-3xl font-black">School projects</h2>
      <p>
        This section features a variety of projects completed during my
        multimedia design studies, demonstrating different aspects of design and
        development while exploring creative solutions.
      </p>
    </div>
  </section>
  <Clf />
  <Girltalk id="girltalk" />
  <PersonalProjects id="personalprojects" />
  <Contact id="contact" />
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const animateOnScrollElements =
      document.querySelectorAll(".animate-on-scroll");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          }
        });
      },
      {
        threshold: 0.1,
      }
    );

    animateOnScrollElements.forEach((element) => observer.observe(element));
  });
</script>
