<section class="hero section">
  <div class="border-right text-box">
    <h1>Portfolio</h1>
    <h2>Sofie Kjær - Madsen</h2>
    <p class="presentation-text">
      Multimedia Design student with a passion for creative design and visual
      solutions. I am driven to create engaging content and user-friendly
      designs that combine aesthetics and functionality. I am motivated by
      working on creative projects where I can challenge myself and develop
      solutions that communicate a clear message and bring value to the user.
    </p>
  </div>
  <div class="portrait border-bottom border-right">
    <img src="img/sofie1.png" alt="" />
  </div>
  <ul class="navigation">
    <li><a href="/">Skills</a></li>
    <li><a href="/">Previous Projects</a></li>
    <li><a href="/">Personal Projects</a></li>
    <li><a href="/">Contact</a></li>
  </ul>
</section>

<style>
  .hero {
    border-bottom: 0.5px solid black;
    display: grid;
    grid-template-columns: 730px 1fr 1.5fr;
    grid-template-rows: auto 1fr;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  li:after {
    margin-top: 126px;

    position: absolute;
    content: "";
    width: 100%;
    height: 0.5px;
    background-color: black;
  }

  .navigation {
    justify-content: space-around;
    grid-column: 3 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
  }

  .text-box {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .presentation-text {
    width: 500px;
  }
</style>
