<section id="section-9" class="section section-9">
  <div class="kontakt-oplysninger border-bottom border-left">
    <h4>kontakt</h4>
    <ul>
      <li>sofie kjær - madsen</li>
      <li>sokj0001@stud.kea.dk</li>
      <li>+ 45 29 89 20 67</li>
    </ul>
  </div>
  <div class="space"></div>
</section>
<style>
  .section-9 {
    border-bottom: 0.5px solid black;
    display: grid;
    grid-template-columns: 730px 1fr;
    grid-template-rows: auto;
  }

  .kontakt-oplysninger {
    grid-column: 2/2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
  }

  .space {
    grid-column: 2/2;
    grid-row: 2;
  }
</style>
