<section id="section-3" class="section section-3 border-bottom">
  <div class="personlige-projekter border-right border-bottom">
    <h4>Personlige <br /> projekter</h4>
    <p>
      Udover min passion for det grafiske elsker jeg at fordybe mig med keramik,
      syning og fotografi i min fritid. Dette giver mig en meget praktisk
      tilgang til form og æstetik samtidig er det et kreativt frirum som jeg
      finder meget terapeutisk.
    </p>
  </div>
  <div class="maske maske-1 centered border-left">
    <img src="img/maske-1.png" alt="" />
  </div>
  <div class="popcrime border-bottom">
    <img src="img/popcrime1.png" alt="" />
  </div>
  <div class="maske maske-2 centered border-left border-right">
    <img src="img/maske-2.png" alt="" />
  </div>
  <div class="aarhus centered"><img src="img/aarhushavn.png" alt="" /></div>
  <div class="centered lila-figur border-right border-bottom">
    <img src="img/lilaFigur (1).avif" alt="" />
  </div>
</section>

<style>
  .section-3 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 730px 1fr 1fr 1fr;
  }

  .lila-figur {
    grid-column: 2/4;

    img {
      width: 40%;
    }
  }

  .maske-2 {
    grid-column: 2/3;
    grid-row: 2;
  }

  .aarhus {
    grid-column: 1/2;
    grid-row: 2;

    img {
      width: 50%;
    }
  }

  .popcrime {
    grid-column: 4/4;
    grid-row: 1;
    display: flex;
    justify-content: end;
    align-items: end;

    img {
      width: 50%;
      height: fit-content;
      margin-bottom: 10px;
      margin-right: 10px;
    }
  }

  .maske-1 {
    grid-column: 4/4;
    grid-row: 2;
  }

  .maske img {
    width: 40%;
  }

  .personlige-projekter {
    display: flex;
    text-align: end;
    align-items: end;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
    padding-right: 10px;
    grid-column: 1/1;
    grid-row: 1/1;
  }

  @media (max-width: 1200px) {
    .section-3 {
      display: flex;
      gap: 100px;
      flex-wrap: wrap;
    }

    .personlige-projekter {
      display: flex;
      text-align: start;
      align-items: start;
      flex-direction: column;
      justify-content: start;
    }
  }

  @media (max-width: 700px) {
    .section-3 {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
</style>
