<nav class="fixed z-50 nav-bar">
  <ul class="font-secondary md:text-4xl font-bold text-base">
    <li class="nav-item" data-number="1">
      <a href="#home">Home</a>
    </li>
    <li class="nav-item" data-number="2">
      <a href="#skills">Skills</a>
    </li>
    <li class="nav-item" data-number="3">
      <a href="#schoolprojects">School Projects</a>
    </li>
    <li class="nav-item" data-number="4">
      <a href="#clf">Copenhagen Light Festival</a>
    </li>
    <li class="nav-item" data-number="5">
      <a href="#girltalk">Girltalk</a>
    </li>
    <li class="nav-item" data-number="6">
      <a href="#personalprojects">Personal Projects</a>
    </li>
    <li class="nav-item" data-number="7">
      <a href="#contact">Contact</a>
    </li>
  </ul>
</nav>

<script></script>
