<nav class="fixed">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#schoolprojects">School Projects</a></li>
    <li><a href="#clf">Copenhagen Light Festival</a></li>
    <li><a href="#girltalk">Girltalk</a></li>
    <li><a href="#personalprojects">Personal Projects</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
