<!doctype html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/src/styles/main.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="bg-circle bg-contain h-screen mx-4">
    <slot />
  </body>
</html>
